/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*::before *::after {
  box-sizing: border-box;;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #1A1A1A;
  font-size: 20px;
  margin: 0 auto;
}

.nav-container {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100vw;


}

div.li-left {
  float: left;
  list-style-type: none;
}

div.li-right {
  float: right;
  list-style-type: none;
  margin: 10px 40px 10px 0px;
}

.li-right li {
  display: inline;
  padding-right: 20px;
}

div.landing {
  background: url("../images/landing.jpg")no-repeat center;
  background-size: cover;
  height: 900px;
  width: 100vw;
}

div.landing h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  position: relative;
  top: 30%;
  left: 0%;
  text-align: center;
}

div.landing p {
  color: #fff;
  font-size: 28px;
  text-align: center;
  position: relative;
  top: 28%;
  line-height: 10px;
}

div.h-container {
  position: relative;
  top: 10%;
  left: 0%;
  text-align: center;
  /*border-bottom: 3px solid #00B172;*/
}
